.text-primary_blue {
  color: #2764ff;
}

.bg-primary_blue {
  background-color: #2764ff;
}

.text-primary_black {
  color: #1c2127;
}

.bg-primary_black {
  background-color: #1c2127;
}

.text-primary_pink {
  color: #fb0b67;
}

.bg-primary_pink {
  background-color: #fb0b67;
}

.text-primary_yellow {
  color: #ffb918;
}

.bg-primary_yellow {
  background-color: #ffb918;
}

.text-primary_chill {
  color: #85d1f0;
}

.bg-primary_chill {
  background-color: #85d1f0;
}

.text-primary_white {
  color: #ffffff;
}

.bg-primary_white {
  background-color: #ffffff;
}

.text-border_grey {
  color: #f5f5fe;
}

.bg-border_grey {
  background-color: #f5f5fe;
}

.text-input_border {
  color: #cfd9e4;
}

.bg-input_border {
  background-color: #cfd9e4;
}

.text-secondary_pink {
  color: #530d35;
}

.bg-secondary_pink {
  background-color: #530d35;
}

.text-secondary_blue {
  color: #213b93;
}

.bg-secondary_blue {
  background-color: #213b93;
}

.text-secondary_black {
  color: #000000;
}

.bg-secondary_black {
  background-color: #000000;
}

.text-secondary_yellow {
  color: #c49344;
}

.bg-secondary_yellow {
  background-color: #c49344;
}

.text-secondary_chill {
  color: #5c8da4;
}

.bg-secondary_chill {
  background-color: #5c8da4;
}

.text-primary {
  color: #1c2127;
}

.text-blue {
  color: #2764ff;
}

.text-yellow {
  color: #ffb918;
}

.text-chill {
  color: #85d1f0;
}

.text-white {
  color: #ffffff;
}

.text-pink {
  color: #530d35;
}

.text-secondary_blue {
  color: #213b93;
}

.text-secondary_black {
  color: #000000;
}

.text-secondary_yellow {
  color: #c49344;
}

.text-secondary_chill {
  color: #5c8da4;
}