.text-primary_blue {
  color: #2764FF;
}

.bg-primary_blue {
  background-color: #2764FF;
}

.text-primary_black {
  color: #1C2127;
}

.bg-primary_black {
  background-color: #1C2127;
}

.text-primary_pink {
  color: #FB0B67;
}

.bg-primary_pink {
  background-color: #FB0B67;
}

.text-primary_yellow {
  color: #FFB918;
}

.bg-primary_yellow {
  background-color: #FFB918;
}

.text-primary_chill {
  color: #85D1F0;
}

.bg-primary_chill {
  background-color: #85D1F0;
}

.text-primary_white {
  color: #ffffff;
}

.bg-primary_white {
  background-color: #ffffff;
}

.text-border_grey {
  color: #F5F5FE;
}

.bg-border_grey {
  background-color: #F5F5FE;
}

.text-input_border {
  color: #CFD9E4;
}

.bg-input_border {
  background-color: #CFD9E4;
}

.text-secondary_pink {
  color: #530D35;
}

.bg-secondary_pink {
  background-color: #530D35;
}

.text-secondary_blue {
  color: #213B93;
}

.bg-secondary_blue {
  background-color: #213B93;
}

.text-secondary_black {
  color: #000000;
}

.bg-secondary_black {
  background-color: #000000;
}

.text-secondary_yellow {
  color: #C49344;
}

.bg-secondary_yellow {
  background-color: #C49344;
}

.text-secondary_chill {
  color: #5C8DA4;
}

.bg-secondary_chill {
  background-color: #5C8DA4;
}