/*=============================================
=            buttons            =
=============================================*/

// for active
// .angle-white {
//   background: #ffffff;
//   width: 24px;
//   height: 24px;
//   opacity: 0.24;
//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
// }
%angle-white {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 24px;
  height: 24px;
  opacity: 0.24;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

// Loading icon
.loading-icon {
  background: #fdfdfd;
  width: 12.68px;
  height: 13.33px;
}

@mixin btn() {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: 700;
  gap: 8px;
  color: white;
  border-radius: 8px;
  position: relative;
}

@each $key, $val in $btn-bg-secondary {
  @if ($key == "default") {
    .btn-secondary-sm {
      @include btn();
      font-size: 14px;
      padding: 8px;
      background: $val;
    };
    .btn-secondary-m{
      @include btn();
      font-size: 16px;
      padding: 8px 16px;
      background: $val;
    };
.btn-secondary-lg{
      @include btn();
      font-size: 16px;
      padding: 16px;
      background: $val;
    }
  }
  @if ($key == "hover") {
    .btn-secondary-sm-#{$key} {
      font-size: 14px;
      padding: 8px;
      &:hover {
        @include btn();
        background: $val;
      }
    };
    .btn-secondary-m-#{$key}{
      font-size: 16px;
      padding: 8px 16px;
      &:hover {
        @include btn();
        background: $val;
      }
    };
    .btn-secondary-lg-#{$key}{
      font-size: 16px;
      padding:16px;
      &:hover {
        @include btn();
        background: $val;
      }
    }
  }
  @if ($key == "active") {
    .btn-secondary-sm-#{$key} {
      font-size: 14px;
      padding: 8px;
      @include btn();
      background: $val;
      &:active::before {
        @extend %angle-white;
      }
    };
    .btn-secondary-m-#{$key} {
      font-size: 16px;
      padding: 8px 16px;
      @include btn();
      background: $val;
      &:active::before {
        @extend %angle-white;
      }
    };
    .btn-secondary-lg-#{$key} {
      font-size: 16px;
      padding: 16px;
      @include btn();
      background: $val;
      &:active::before {
        @extend %angle-white;
      }
    }
  }

  @if ($key == "disabled") {
    .btn-secondary-sm-disabled {
      // &:disabled {
      @include btn();
      font-size: 14px;
      padding: 8px;
      background: $val !important;
      cursor: not-allowed;
      pointer-events: unset;
      // }
    };
    .btn-secondary-m-#{$key} {
      // &:disabled {
      @include btn();
      font-size: 16px;
      padding: 8px 16px;
      background: $val !important;
      cursor: not-allowed;
      pointer-events: unset;
      // }
    }
    .btn-secondary-lg-#{$key} {
      &:disabled {
      @include btn();
      font-size: 16px;
      padding: 16px;
      background: $val !important;
      cursor: not-allowed;
      pointer-events: unset;
      }
    }
  }

  @if ($key == "loading") {
    .btn-secondary-sm-#{$key} {
      @include btn();
      font-size: 14px;
      padding: 8px;
      // &:active {
      padding: 8px;
      font-weight: unset;
      background: $val;
      // }
    }
    .btn-secondary-m-#{$key} {
      @include btn();
      font-size: 16px;
      padding: 8px 16px;
      font-weight: unset;
      background: $val;
    };
    .btn-secondary-m-#{$key} {
      @include btn();
      font-size: 16px;
      padding: 16px;
      font-weight: unset;
      background: $val;
    }
  }

}


/*=====  End of buttons  ======*/
