/*=============================================
=            buttons            =
=============================================*/

%angle-outline-white {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: #2764ff;
  opacity: 0.16;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

// Loading icon
.loading-icon {
  background: #fdfdfd;
  width: 12.68px;
  height: 13.33px;
}

@mixin btn() {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: 700;
  gap: 8px;
  color: #2764ff;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

@each $key, $val in $btn-outline-light {
  @if ($key == "default") {
    .btn-outlined-light-sm {
      @include btn();
      font-size: 14px;
      padding: 8px;
      border: $val;
    }
    .btn-outlined-light-m {
      @include btn();
      font-size: 16px;
      padding: 8px 16px;
      border: $val;
    }
    .btn-outlined-light-lg {
      @include btn();
      font-size: 16px;
      padding: 16px;
      border: $val;
    }
  }
  @if ($key == "hover") {
    .btn-outlined-light-sm-#{$key} {
      font-size: 14px;
      padding: 8px;
      &:hover {
        @include btn();
        color: #213b93;
        border: $val;
      }
    }
    .btn-outlined-light-m-#{$key} {
      font-size: 16px;
      padding: 8px 16px;
      &:hover {
        @include btn();
        color: #213b93;
        border: $val;
      }
    }
    .btn-outlined-light-lg-#{$key} {
      font-size: 16px;
      padding: 16px;
      &:hover {
        @include btn();
        color: #213b93;
        border: $val;
      }
    }
  }
  @if ($key == "active") {
    .btn-outlined-light-sm-#{$key} {
      font-size: 14px;
      padding: 8px;
      @include btn();
      border: $val;
      &:active::before {
        @extend %angle-outline-white;
      }
    }
    .btn-outlined-light-m-#{$key} {
      font-size: 16px;
      padding: 8px 16px;
      @include btn();
      border: $val;
      &:active::before {
        @extend %angle-outline-white;
      }
    }
    .btn-outlined-light-lg-#{$key} {
      font-size: 16px;
      padding: 16px;
      @include btn();
      border: $val;
      &:active::before {
        @extend %angle-outline-white;
      }
    }
  }

  @if ($key == "disabled") {
    .btn-outlined-light-sm-disabled {
      @include btn();
      font-size: 14px;
      padding: 8px;
      border: $val !important;
      cursor: not-allowed;
      pointer-events: unset;
    }
    .btn-outlined-light-m-#{$key} {
      @include btn();
      font-size: 16px;
      padding: 8px 16px;
      border: $val !important;
      cursor: not-allowed;
      pointer-events: unset;
    }
    .btn-outlined-light-lg-#{$key} {
      &:disabled {
        @include btn();
        font-size: 16px;
        padding: 16px;
        border: $val !important;
        cursor: not-allowed;
        pointer-events: unset;
      }
    }
  }

  @if ($key == "loading") {
    .btn-outlined-light-sm-#{$key} {
      @include btn();
      font-size: 14px;
      padding: 8px;
      padding: 8px;
      font-weight: unset;
      border: $val;
    }
    .btn-outlined-light-m-#{$key} {
      @include btn();
      font-size: 16px;
      padding: 8px 16px;
      font-weight: unset;
      border: $val;
    }
    .btn-outlined-light-lg-#{$key} {
      @include btn();
      font-size: 16px;
      padding: 16px;
      font-weight: unset;
      border: $val;
    }
  }
}

/*=====  End of buttons  ======*/
