$blueFountain: #2764ff;
$rockBlack: #1c2127;
$primePink: #fb0b67;
$gumYellow: #ffb918;
$chillBlue: #85d1f0;
$angelWhite: #ffffff;
$borderGrey: #f5f5fe;
$inputBorder: #cfd9e4;
// Secondary
$pinkTint: #530d35;
$pinkTint2: #ea89b1;
$pinkTint3: #f9e5ec;
$blueTint: #213b93;
$blueTint2: #adc0fa;
$blueTint3: #eaf0fe;
$blackTint: #000000;
$blackTint2: #737a91;
$blackTint3: #a7b1bc;
$yellowTint: #c49344;
$yellowTint2: #f8d48b;
$yellowTint3: #fceed4;
$chillTint: #5c8da4;
$chillTint2: #b9dfef;
$chillTint3: #daedf6;
// Support
$success: #25c26e;
$alert: #ff554a;
$warning: #f0ad4e;
$info: #0066f5;
// DarkMode BG
$sidebar: #0066f5;
$App-bg: #1c2127;
$card-bg: #20252b;
$card-stroke: #262932;
$change-bg: #262b31;
$input-stroke: #373b3f;
$disabled: #393d41;
// LightMode BG
$lightmode-sidebar: #ffffff;
$lightmode-App-bg: #f8f8f9;
$lightmode-card-bg: $lightmode-sidebar;
$lightmode-card-stroke: #f1f1f1;
$lightmode-change-bg: $lightmode-App-bg;
// Gradient
// $g1:#483BEB #7847E1 #DD568D;
$g1: linear-gradient(90deg, #483beb 0%, #7847e1 47.92%, #dd568d 96.35%);
$g2: linear-gradient(109.12deg, #c0cffe 0.42%, #f3dff4 57.74%, #f9d8e5 98.62%);
$g3: linear-gradient(109.12deg, #abe2f3 0.42%, #bde4e5 39.7%, #ebe9d0 102.33%);
$g4: linear-gradient(70.58deg, #6179fa 0%, #98aafe 39.58%, #fec536 100%);
$colors: ( "primary_blue": $blueFountain, "primary_black": $rockBlack, "primary_pink": $primePink, "primary_yellow": $gumYellow, "primary_chill": $chillBlue, "primary_white": $angelWhite, "border_grey": $borderGrey, "input_border": $inputBorder, "secondary_pink": $pinkTint, "secondary_blue": $blueTint, "secondary_black": $blackTint, "secondary_yellow": $yellowTint, "secondary_chill": $chillTint, );
$input: ( "primary": $rockBlack, "blue": $blueFountain, "yellow": $gumYellow, "chill": $chillBlue, "white": $angelWhite, "pink": $pinkTint, "secondary_blue": $blueTint, "secondary_black": $blackTint, "secondary_yellow": $yellowTint, "secondary_chill": $chillTint, );