/*=============================================
=            Shadows            =
=============================================*/

// property stands for the css property

$shadow: (
  "box-shadow": (
    "prefix": "box-shadow",
    "values": (
      "default": 0px 0px 1px rgba(12, 26, 75, 0.1) 0px 4px 20px -2px rgba(50, 50, 71, 0.08),
      "sm": 0px 0px 1px rgba(12, 26, 75, 0.24)
      0px 3px 8px -1px rgba(50, 50, 71, 0.05),
      "lg": 0px 0px 1px rgba(12, 26, 75, 0.1)
      0px 10px 16px rgba(20, 37, 63, 0.06),
      "xlg": 0px 0px 1px rgba(12, 26, 75, 0.1)
      0px 20px 24px rgba(20, 37, 63, 0.06),
      "xxlg": 0px 0px 1px rgba(12, 26, 75, 0.1)
      0px 30px 40px rgba(20, 37, 63, 0.08),

      // Test value
      // "default": 20px 20px 10px rgba(0, 0, 0, 0.1),
      // "sm": 0px 0px 1px rgba(12, 26, 75, 0.24),
      // "lg": 0px 0px 1px rgba(12, 26, 75, 0.1),
      // "xlg": 0px 0px 1px rgba(12, 26, 75, 0.1),
      // "xxlg": 20px 20px 10px rgba(0, 0, 0, 0.1),
    ),
  ),
);

@each $property, $map in $shadow {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}

/*=====  End of Shadows  ======*/
