@each $key,$val in $radius{
    .radius-#{$key}{
        border-radius:$val;
        -webkit-border-radius:$val;
        -moz-border-radius:$val;
        -ms-border-radius:$val;
        -o-border-radius:$val;
}
}